.container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
  margin-top: 4em;
  background-color: #333;
  border-radius: 10px 10px 0 0;
}
.header {
  box-sizing: content-box;
  padding: 1em;
  background-color: #47b2f5;
  border-radius: 10px 10px 0 0;
}
.clear {
  display: flex;
  float: right;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  & i:hover {
    transform: scale(0.95);
  }
}
.list {
  padding-left: 0;
}
.item {
  padding: 0.4em 0.6em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #47b2f5;
}
.text {
  margin: 0;
  padding: 0;
}
.add-item {
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;
  padding: 0.6em;
}
.addToDo {
  border: none;
  background: none;
  &:hover {
    transform: scale(0.9);
  }
}
.addicon {
  color: #47b2f5;
  width: 100%;
  height: 100%;
}
.item__block {
  display: flex;
  align-items: center;
  & i {
    margin-right: 0.4em;
  }
  & p {
    margin-right: 10px;
  }
}
.add-item input {
  padding: 0.2em;
  margin: 0 0.4em;
  border-radius: 8px;
  border: none;
  width: 50%;
  height: 1em;
}
.complete {
  color: rgb(0, 217, 255);
  text-decoration: line-through;
}
.select {
  display: flex;
  width: auto;
}
.select button {
  height: 1.5em;
  width: 1.5em;
  border: none;
  margin: 1px;
  border-radius: 50%;
  outline: none;
  &:hover {
    transform: scale(0.95);
    border: 2px solid black;
  }
}
.red {
  border-left: 5px solid red;

  &.button {
    background-color: red;
  }
}
.orange {
  border-left: 5px solid orangered;
  &.button {
    background-color: orangered;
  }
}
.yellow {
  border-left: 5px solid yellow;
  &.button {
    background-color: yellow;
  }
}
.green {
  border-left: 5px solid lightgreen;
  &.button {
    background-color: lightgreen;
  }
}
.fa-trash-alt {
  color: red;
}

.listcolor {
  // width: 10px;
  // height: 10px;
  padding: 0.5em;
  margin: 0 5px;
  border-radius: 50%;
}
